body {
  font-family: sans-serif;
  text-align: center;
}

div#home-section .section-title, div#home-section .subtitle{
  padding: 20px;
}

div#home-section .section-title {
  font-size: 60px;
}

div h2 {
  font-size: medium;
  color: #606060;
}

.face-img {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

.epicodus-plug {
  text-decoration: underline;
  color: #05B3B3;
}

.project-section {
  padding-top: 10px;
  margin-top: 200px;
  background-image: linear-gradient(to bottom, white, #fae398);
  padding-bottom: 30px;
}

div.card-title {
  font-weight: bolder;
}

div.card img {
  height: 186px;
}

.aboutme-section {
  background-image: linear-gradient(to bottom, #fae398, white);
  padding-top: 200px;
}

.aboutme-logo {
  height: 300px;
  width: 240px;
  padding: 30px 0px 30px 0px;
}

div .aboutme-left {
  float: left;
  padding-left: 100px;
}

div .aboutme-right {
  float: right;
  padding-right: 100px;
}

.aboutme-row {
  border: 1px #39275B dashed;
  margin: 0px 20px 0px 20px;
}

div.row ul {
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 70px;
}

div h3 {
  padding-top: 30px;
}

#contact-section {
  margin-top: 300px;
  background-image: linear-gradient(to bottom, white, thistle, plum);
  padding-bottom: 100px;
}

div#contact-section ul {
  text-align: center;
  width: 150px;
  padding-left: 10px;
  box-sizing: content-box;
  border: black dotted 2px;
  padding: 3px;
  border-radius: 10px;
}

div#contact-section .section-title {
  border-bottom: solid 1px black;
}
