body {
  font-family: sans-serif;
  text-align: center;
}

div.home-section .section-title, div.home-section .subtitle {
  padding: 20px;
}

div h2 {
  font-size: medium;
  color: #606060;
}

.face-img {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

.epicodus-plug {
  text-decoration: underline;
  color: #05B3B3;
}

.project-section {
  padding-top: 10px;
  margin-top: 200px;
  background: tan;
}